.nav
  position: fixed
  display: flex
  z-index: 10
  width: 100vw
  height: 10vh
  justify-content: space-between
  align-items: baseline
  padding: 20px
  font-weight: 600
  +themify($themes)
    background: linear-gradient(themed('secondary'), transparentize(themed('secondary'), 0.9))
  div
    flex: 1

.nav_title
  text-align: center
  font-size: 1.3rem
  &:first-letter
    text-transform: capitalize

.nav_note
  text-align: right
  display: flex
  align-items: center
  justify-content: flex-end
  font-size: .9em
  @media only screen and (max-width: 768px)
    .note_text
      display: none
  span
    margin-left: 10px
    margin-bottom: 5px
    font-size: 1.3em
    @media only screen and (max-width: 768px)
      font-size: 1.5em

.scroll_height
  content: ""
  position: fixed
  z-index: 11
  top: 0
  left: 0
  height: 1px
  width: 10%
  transition: width 0.1s
  +themify($themes)
    border-bottom: 4px solid themed('primary')

.mouse_container
  position: fixed
  bottom: 2vh
  width: 3vw
  left: 50vw;
  transform: translateX(-50%);
  text-align: center
  transition: opacity 0.2s ease
  @media only screen and (max-width: 768px)
    bottom: 5vh

.mouse
  margin: 0 auto
  animation: fadeInDown 1.5s infinite ease
  text-shadow: 0 0 2px #0007
  &:after
    content: "🖱"
  @media only screen and (max-width: 768px)
    font-size: 1.8em
    animation: fadeInUpScroll 1.5s infinite ease
    text-shadow: 0 0 3px #0003
    &:after
      content: "👈"

@keyframes fadeInDown
  from
    opacity: 0
    transform: translate3d(0, -100%, 0)
  to
    opacity: 1
    transform: translate3d(0, 0, 0)

@keyframes fadeInUpScroll
  from
    opacity: 0
    transform: translate3d(0, 50%, 0)
  to
    opacity: 1
    transform: translate3d(0, -50%, 0)