$themes: ( light: ( primary: $light-text, secondary: $light-background, box-shadow: $light-box-shadow, box-shadow-dark: $dark-box-shadow ), dark: ( primary: $dark-text, secondary: $dark-background, box-shadow: $dark-box-shadow, box-shadow-dark: $darken-box-shadow));

=themify($themes) // $themes var
  @each $theme, $props in $themes // for each $theme = dark - $props = ( primary: ... secondary: ...)
    .#{$theme}_theme & // is goign to include this new rule
      $theme-props: $props !global; // global temporary variable 
      @content; // this takes the children props and adds it as rules
      $theme-props: null !global; // empty global temporary variable

@function themed($key) 
  @return map-get($theme-props, $key) // {background: #333, color: #FFF }, 'background' => #333

// .layout
//   +themify($themes)
//     background: themed('secondary')
//     color: themed('primary')

// OUTCOME:
//   .dark_theme .layout
//     background: #333
//     color: #FFF 