@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,400,500,600,700')
@import url('https://fonts.googleapis.com/css?family=PT+Serif&display=swap:300,400,500,600,700')

.about
  height: 100%
  margin: 10px auto 25vh auto
  max-width: 1300px
  padding-left: 100px
  width: 80vw
  display: flex
  align-items: center
  +themify($themes)
    background: themed('secondary')
  & > div 
    // flex: 1
  @media only screen and (max-width: 768px)
    margin: 0px auto 10vh auto
    flex-direction: column
    padding: 0px
  @media only screen and (min-width: 1000px) and (orientation: portrait)
    height: 50vh
    width: 90vw
    padding: 10px
    margin: 10px auto 10vh auto


.about_description
  flex: 10
  margin-right: 30px
  @media only screen and (max-width: 768px)
    text-align: center
    margin-right: 0px
  h1 
    font-size: 4.5rem
    font-family: 'Cormorant Garamond'
    font-weight: 500
    margin-bottom: 15px
  p
    font-weight: 400
  @media only screen and (max-width: 768px)
    h1
      font-size: 2em

.about_image
  flex: 9
  +themify($themes)
    background: darken(themed('secondary'), 3%)
  .image_container
    perspective: 3000px
    padding: 13%
    transition: all .5s ease
    > div
      +themify($themes)
        background: darken(themed('secondary'),5%)

.about_quote
  display: inline-block
  margin: 50px 0
  color: lighten($light-text, 50%)
  font-weight: 200
  font-family: Courier New, Courier, monospace
  padding: 20px 40px
  +themify($themes)
    box-shadow: themed('box-shadow')
    background: themed('secondary')
